body {
	text-align: center;
	
}

header {
	background-color: #f15b31;
	color: #FFFFFF;
	padding: 30px 20px;

}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;
}

main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 40px 8px;
}


h1 {
	text-decoration: none;
	text-transform: uppercase;
	font-family: raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: raleway;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	border-bottom: 2px solid transparent;
}

a:hover {
	border: 2px solid white;
}

h2 {
	font-family: raleway;
	color:#0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

p {
	font-family: "droid serif"
	font-size: 18px;
	line-height: 26px;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: 0.08em;
	font-weight: 500;
}

.copyright, .message {
	font-family: Raleway;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;

}